<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <input id="username" type="text" placeholder="Username">
        <input id="password" type="password" placeholder="Password">
        <button onclick="login()" type="button">Login</button>
        <a id="error" style="display:none"></a>
    </div>
    <script src="/js/login.js"></script>
</body>
</html>